:root{
    font-family: 'Courier New', Courier, monospace;
    --fonts: 'Courier New', Courier, monospace;
    --main-color: #32363a;
    --main-trans: #21232640;
    --text-color: #ffffff;


    /* nav bar stuff */
    --nav-hover: #111;
    --nav-here: #04AA5C;
    /* can change nav-here-hover */
    --nav-here-hover: #04AA5C;

}

body{
    background-color: var(--main-color);
    text-align: center;
    color: var(--text-color);

}



/* navbar stuff */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-color);
    }

    .stick {
        position: sticky;
        top: 0;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-bottom: 10%;
    
    }

    li a:hover {
    background-color: var(--nav-hover);
    border-radius: 10px;
    }

    .here {
    background-color: var(--nav-here);
    border-radius: 10px;
    margin: 2px;
    color: #000;
    }
    
    .here:hover{
        background-color: var(--nav-here-hover);
        border-radius: 10px;
        margin: 2px;
    }
    
    .navbar-Logo{
        float: right;
    }

.leftTop{    
    float: left;
    background-color: var(--main-trans);
    width: 49%;
    height:130px;
    
}
.rightTop{
    float: right;
    background-color: var(--main-trans);
    width: 49%;
    height:130px;
}

#hero{
    color: #04AA5C;
    background-color: var(--main-trans);
    border-radius: 10px;
}
/* @media (min-width : 320px) { */

/* #center{padding-top: 25px;} */

/* } */
#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}