:root{
    font-family: 'Courier New', Courier, monospace;
    --fonts: 'Courier New', Courier, monospace;
    --main-color: #32363a;
    --text-color: white;


    /* nav bar stuff */
    --nav-hover: #111;
    --nav-here: #04AA6D;
    /* can change nav-here-hover */
    --nav-here-hover: #04AA5C;

}

body{
    background-color: var(--main-color);
    text-align: center;
    color: var(--text-color);

}

.stick {
    position: sticky;
    top: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-color);
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-bottom: 10%;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: var(--nav-hover);
    border-radius: 10px;
    }

    .here {
    background-color: var(--nav-here);
    border-radius: 10px;
    margin: 2px;
    }
    
    .here:hover{
        background-color: var(--nav-here-hover);
        border-radius: 10px;
        margin: 2px;
    }
    
    .navbar-Logo{
        float: right;
    }